@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "User Management";
}

<div class="d-flex justify-content-between flex-wrap">
    <h2 class="page-title mt-auto mb-auto">User Management</h2>
    <button class="add-btn">
        <img src="~/img/admin-panel/add.png" alt="">
        Add New User
    </button>
</div>
<div class="user-search-box">
    <select class="form-select input-element width-205" aria-label="User name">
        <option disabled>User name</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>

    <select class="form-select input-element width-215" aria-label="User role">
        <option disabled>User role</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>

    <div class="input-group input-element width-215">
        <span class="input-group-text" id="basic-addon1">+49</span>
        <input type="text" class="form-control" placeholder="Phone number" aria-label="Username"
               aria-describedby="basic-addon1">
    </div>

    <input type="text" class="form-control input-element width-140" id="" placeholder="Zipcode">

    <button class="btn btn-Search width-84">Search</button>

    <button class="btn width-84 btn-clear">Clear</button>

</div>

<div class="data-table">
    <table id="user-management">
        <thead>
            <tr>
                <th>User Name <img class="sort-img" alt=""></th>
                <th>User Type</th>
                <th>Role</th>
                <th>Postal Code <img class="sort-img" alt=""></th>
                <th>City</th>
                <th>Radius <img class="sort-img" alt=""></th>
                <th>User Status <img class="sort-img" alt=""></th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- 1&2 row -->
            <tr>
                <td>Lyum watson</td>
                <td>Call Center</td>
                <td>Inquiry Manager</td>
                <td>123456</td>
                <td>Berlin</td>
                <td></td>
                <td><label class="lbl-btn lbl-success">Active</label></td>
                <td>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="~/img/admin-panel/group-38.png" alt="" class="position-relative">
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Edit</a></li>
                            <li><a class="dropdown-item" href="#">Deactivate</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td>John Smith</td>
                <td>Service provider</td>
                <td></td>
                <td>123456</td>
                <td>Berlin</td>
                <td>10 km</td>
                <td><label class=" lbl-btn lbl-success">Active</label></td>
                <td>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="~/img/admin-panel/group-38.png" alt="" class="position-relative">
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Edit</a></li>
                            <li><a class="dropdown-item" href="#">Deactivate</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <!-- 3&4 row -->
            <tr>
                <td>John Smith</td>
                <td>Call Center</td>
                <td>Inquiry Manager</td>
                <td>123456</td>
                <td>Berlin</td>
                <td></td>
                <td><label class="lbl-btn lbl-success">Active</label></td>
                <td>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="~/img/admin-panel/group-38.png" alt="" class="position-relative">
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Edit</a></li>
                            <li><a class="dropdown-item" href="#">Deactivate</a></li>
                            <li><a class="dropdown-item" href="#">Service History</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td>John Smith</td>
                <td>Customer</td>
                <td></td>
                <td>123456</td>
                <td>Berlin</td>
                <td></td>
                <td><label class="lbl-btn lbl-success">Active</label></td>
                <td>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="~/img/admin-panel/group-38.png" alt="" class="position-relative">
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Edit</a></li>
                            <li><a class="dropdown-item" href="#">Deactivate</a></li>
                            <li><a class="dropdown-item" href="#">Service History</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <!-- 5&6 row -->
            <tr>
                <td>John Smith</td>
                <td>Call Center</td>
                <td>Content Manager</td>
                <td>123456</td>
                <td>Berlin</td>
                <td></td>
                <td><label class="lbl-btn lbl-success">Active</label></td>
                <td>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="~/img/admin-panel/group-38.png" alt="" class="position-relative">
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Edit</a></li>
                            <li><a class="dropdown-item" href="#">Deactivate</a></li>
                            <li><a class="dropdown-item" href="#">Service History</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td>John Smith</td>
                <td>Customer</td>
                <td></td>
                <td>123456</td>
                <td>Berlin</td>
                <td></td>
                <td><label class="lbl-btn lbl-danger">Inactive</label></td>
                <td>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="~/img/admin-panel/group-38.png" alt="" class="position-relative">
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Edit</a></li>
                            <li><a class="dropdown-item" href="#">Deactivate</a></li>
                            <li><a class="dropdown-item" href="#">Service History</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <!-- 7&8 row -->
            <tr>
                <td>John Smith</td>
                <td>Service provider</td>
                <td></td>
                <td>123456</td>
                <td>Berlin</td>
                <td>20 km</td>
                <td><label class="lbl-btn lbl-success">Active</label></td>
                <td>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="~/img/admin-panel/group-38.png" alt="" class="position-relative">
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Edit</a></li>
                            <li><a class="dropdown-item" href="#">Deactivate</a></li>
                            <li><a class="dropdown-item" href="#">Service History</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td>John Smith</td>
                <td>Call Center</td>
                <td>Finance Manager</td>
                <td>123456</td>
                <td>Berlin</td>
                <td></td>
                <td><label class="lbl-btn lbl-success">Active</label></td>
                <td>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="~/img/admin-panel/group-38.png" alt="" class="position-relative">
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Edit</a></li>
                            <li><a class="dropdown-item" href="#">Deactivate</a></li>
                            <li><a class="dropdown-item" href="#">Service History</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <!-- 9&10 row -->
            <tr>
                <td>John Smith</td>
                <td>Customer</td>
                <td></td>
                <td>123456</td>
                <td>Berlin</td>
                <td></td>
                <td><label class="lbl-btn lbl-success">Active</label></td>
                <td>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="~/img/admin-panel/group-38.png" alt="" class="position-relative">
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Edit</a></li>
                            <li><a class="dropdown-item" href="#">Deactivate</a></li>
                            <li><a class="dropdown-item" href="#">Service History</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td>John Smith</td>
                <td>Customer</td>
                <td></td>
                <td>123456</td>
                <td>Berlin</td>
                <td></td>
                <td><label class="lbl-btn lbl-success">Active</label></td>
                <td>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="~/img/admin-panel/group-38.png" alt="" class="position-relative">
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Edit</a></li>
                            <li><a class="dropdown-item" href="#">Deactivate</a></li>
                            <li><a class="dropdown-item" href="#">Service History</a></li>
                        </ul>
                    </div>
                </td>
            </tr>

            <!-- 1&2 row -->
            <tr>
                <td>Lyum watson</td>
                <td>Call Center</td>
                <td>Inquiry Manager</td>
                <td>123456</td>
                <td>Berlin</td>
                <td></td>
                <td><label class="lbl-btn lbl-success">Active</label></td>
                <td>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="~/img/admin-panel/group-38.png" alt="" class="position-relative">
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Edit</a></li>
                            <li><a class="dropdown-item" href="#">Deactivate</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td>John Smith</td>
                <td>Service provider</td>
                <td></td>
                <td>123456</td>
                <td>Berlin</td>
                <td>10 km</td>
                <td><label class="lbl-btn lbl-success">Active</label></td>
                <td>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="~/img/admin-panel/group-38.png" alt="" class="position-relative">
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Edit</a></li>
                            <li><a class="dropdown-item" href="#">Deactivate</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <!-- 3&4 row -->
            <tr>
                <td>John Smith</td>
                <td>Call Center</td>
                <td>Inquiry Manager</td>
                <td>123456</td>
                <td>Berlin</td>
                <td></td>
                <td><label class="lbl-btn lbl-success">Active</label></td>
                <td>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="~/img/admin-panel/group-38.png" alt="" class="position-relative">
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Edit</a></li>
                            <li><a class="dropdown-item" href="#">Deactivate</a></li>
                            <li><a class="dropdown-item" href="#">Service History</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td>John Smith</td>
                <td>Customer</td>
                <td></td>
                <td>123456</td>
                <td>Berlin</td>
                <td></td>
                <td><label class="lbl-btn lbl-success">Active</label></td>
                <td>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="~/img/admin-panel/group-38.png" alt="" class="position-relative">
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Edit</a></li>
                            <li><a class="dropdown-item" href="#">Deactivate</a></li>
                            <li><a class="dropdown-item" href="#">Service History</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>