@{
    ViewData["Title"] = "Service History";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!-- Service-history List -->
<div class="d-flex justify-content-between align-items-center">
    <h2 class="title">Service History</h2>
    <button class="export-btn">Export</button>
</div>
<div class="div-table">
    <table class="table" id="tbl-service-history">
        <thead>
            <tr>
                <td>Service Details <img class="sort-img" alt=""> </td>
                <td>Service Provider <img class="sort-img" alt=""> </td>
                <td>Payment <img class="sort-img" alt=""></td>
                <td>Status <img class="sort-img" alt=""></td>
                <td>Rate SP</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <img src="~/img/admin-panel/calendar.png" alt="">
                    <span>09/04/2018</span><br>
                    12:00 - 18:00
                </td>
                <td>
                    <div>
                        <img src="~/img/admin-panel/cap.png" class="cap-img float-start"
                             alt="cap image">
                        <div class="name-rating">
                            <label>Lyum Watson</label>
                            <div>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star2.png" alt=""></span>
                                <label class="rating-count">4</label>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="money">€63</span>
                </td>
                <td><span class="compeleted-btn">Completed</span></td>
                <td>
                    <button class="rate-btn">Rate SP</button>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="~/img/admin-panel/calendar.png" alt="">
                    <span>15/03/2018</span><br>
                    12:00 - 18:00
                </td>
                <td>
                    <div>
                        <img src="~/img/admin-panel/cap.png" class="cap-img float-start"
                             alt="cap image">
                        <div class="name-rating">
                            <label>Lyum Watson</label>
                            <div>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star2.png" alt=""></span>
                                <label class="rating-count">4</label>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="money">€63</span>
                </td>
                <td><span class="compeleted-btn">Completed</span></td>
                <td>
                    <button class="rate-btn">Rate SP</button>
                </td>
            </tr>

            <tr>
                <td>
                    <img src="~/img/admin-panel/calendar.png" alt="">
                    <span>10/03/2018</span><br>
                    12:00 - 18:00
                </td>
                <td>
                    <div>
                        <img src="~/img/admin-panel/cap.png" class="cap-img float-start"
                             alt="cap image">
                        <div class="name-rating">
                            <label>Lyum Watson</label>
                            <div>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star2.png" alt=""></span>
                                <label class="rating-count">4</label>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="money">€63</span>
                </td>
                <td><span class="compeleted-btn">Completed</span></td>
                <td>
                    <button class="rate-btn">Rate SP</button>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="~/img/admin-panel/calendar.png" alt="">
                    <span>28/02/2018</span><br>
                    12:00 - 18:00
                </td>
                <td>
                    <div>
                        <img src="~/img/admin-panel/cap.png" class="cap-img float-start"
                             alt="cap image">
                        <div class="name-rating">
                            <label>Lyum Watson</label>
                            <div>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star2.png" alt=""></span>
                                <label class="rating-count">4</label>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="money">€63</span>
                </td>
                <td><span class="Cancelled-btn">Cancelled</span></td>
                <td>
                    <button class="rate-btn">Rate SP</button>
                </td>
            </tr>

            <tr>
                <td>
                    <img src="~/img/admin-panel/calendar.png" alt="">
                    <span>15/02/2018</span><br>
                    12:00 - 18:00
                </td>
                <td>
                    <div>
                        <img src="~/img/admin-panel/cap.png" class="cap-img float-start"
                             alt="cap image">
                        <div class="name-rating">
                            <label>Lyum Watson</label>
                            <div>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star2.png" alt=""></span>
                                <label class="rating-count">4</label>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="money">€63</span>
                </td>
                <td><span class="compeleted-btn">Completed</span></td>
                <td>
                    <button class="rate-btn">Rate SP</button>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="~/img/admin-panel/calendar.png" alt="">
                    <span>11/02/2018</span><br>
                    12:00 - 18:00
                </td>
                <td>
                    <div>
                        <img src="~/img/admin-panel/cap.png" class="cap-img float-start"
                             alt="cap image">
                        <div class="name-rating">
                            <label>Lyum Watson</label>
                            <div>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star2.png" alt=""></span>
                                <label class="rating-count">4</label>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="money">€63</span>
                </td>
                <td><span class="Cancelled-btn">Cancelled</span></td>
                <td>
                    <button class="rate-btn">Rate SP</button>
                </td>
            </tr>

            <tr>
                <td>
                    <img src="~/img/admin-panel/calendar.png" alt="">
                    <span>31/01/2018</span><br>
                    12:00 - 18:00
                </td>
                <td>
                    <div>
                        <img src="~/img/admin-panel/cap.png" class="cap-img float-start"
                             alt="cap image">
                        <div class="name-rating">
                            <label>Lyum Watson</label>
                            <div>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star2.png" alt=""></span>
                                <label class="rating-count">4</label>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="money">€63</span>
                </td>
                <td><span class="compeleted-btn">Completed</span></td>
                <td>
                    <button class="rate-btn">Rate SP</button>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="~/img/admin-panel/calendar.png" alt="">
                    <span>19/01/2018</span><br>
                    12:00 - 18:00
                </td>
                <td>
                    <div>
                        <img src="~/img/admin-panel/cap.png" class="cap-img float-start"
                             alt="cap image">
                        <div class="name-rating">
                            <label>Lyum Watson</label>
                            <div>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star2.png" alt=""></span>
                                <label class="rating-count">4</label>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="money">€63</span>
                </td>
                <td><span class="compeleted-btn">Completed</span></td>
                <td>
                    <button class="rate-btn">Rate SP</button>
                </td>
            </tr>

            <tr>
                <td>
                    <img src="~/img/admin-panel/calendar.png" alt="">
                    <span>05/01/2018</span><br>
                    12:00 - 18:00
                </td>
                <td>
                    <div>
                        <img src="~/img/admin-panel/cap.png" class="cap-img float-start"
                             alt="cap image">
                        <div class="name-rating">
                            <label>Lyum Watson</label>
                            <div>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star2.png" alt=""></span>
                                <label class="rating-count">4</label>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="money">€63</span>
                </td>
                <td><span class="Cancelled-btn">Cancelled</span></td>
                <td>
                    <button class="rate-btn">Rate SP</button>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="~/img/admin-panel/calendar.png" alt="">
                    <span>01/01/2018</span><br>
                    12:00 - 18:00
                </td>
                <td>
                    <div>
                        <img src="~/img/admin-panel/cap.png" class="cap-img float-start"
                             alt="cap image">
                        <div class="name-rating">
                            <label>Lyum Watson</label>
                            <div>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star2.png" alt=""></span>
                                <label class="rating-count">4</label>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="money">€63</span>
                </td>
                <td><span class="Cancelled-btn">Cancelled</span></td>
                <td>
                    <button class="rate-btn">Rate SP</button>
                </td>
            </tr>



            <tr>
                <td>
                    <img src="~/img/admin-panel/calendar.png" alt="">
                    <span>09/04/2018</span><br>
                    12:00 - 18:00
                </td>
                <td>
                    <div>
                        <img src="~/img/admin-panel/cap.png" class="cap-img float-start"
                             alt="cap image">
                        <div class="name-rating">
                            <label>Lyum Watson</label>
                            <div>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star2.png" alt=""></span>
                                <label class="rating-count">4</label>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="money">€63</span>
                </td>
                <td><span class="compeleted-btn">Completed</span></td>
                <td>
                    <button class="rate-btn">Rate SP</button>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="~/img/admin-panel/calendar.png" alt="">
                    <span>15/03/2018</span><br>
                    12:00 - 18:00
                </td>
                <td>
                    <div>
                        <img src="~/img/admin-panel/cap.png" class="cap-img float-start"
                             alt="cap image">
                        <div class="name-rating">
                            <label>Lyum Watson</label>
                            <div>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star2.png" alt=""></span>
                                <label class="rating-count">4</label>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="money">€63</span>
                </td>
                <td><span class="compeleted-btn">Completed</span></td>
                <td>
                    <button class="rate-btn">Rate SP</button>
                </td>
            </tr>

            <tr>
                <td>
                    <img src="~/img/admin-panel/calendar.png" alt="">
                    <span>10/03/2018</span><br>
                    12:00 - 18:00
                </td>
                <td>
                    <div>
                        <img src="~/img/admin-panel/cap.png" class="cap-img float-start"
                             alt="cap image">
                        <div class="name-rating">
                            <label>Lyum Watson</label>
                            <div>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star2.png" alt=""></span>
                                <label class="rating-count">4</label>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="money">€63</span>
                </td>
                <td><span class="compeleted-btn">Completed</span></td>
                <td>
                    <button class="rate-btn">Rate SP</button>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="~/img/admin-panel/calendar.png" alt="">
                    <span>28/02/2018</span><br>
                    12:00 - 18:00
                </td>
                <td>
                    <div>
                        <img src="~/img/admin-panel/cap.png" class="cap-img float-start"
                             alt="cap image">
                        <div class="name-rating">
                            <label>Lyum Watson</label>
                            <div>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star2.png" alt=""></span>
                                <label class="rating-count">4</label>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="money">€63</span>
                </td>
                <td><span class="Cancelled-btn">Cancelled</span></td>
                <td>
                    <button class="rate-btn">Rate SP</button>
                </td>
            </tr>

            <tr>
                <td>
                    <img src="~/img/admin-panel/calendar.png" alt="">
                    <span>15/02/2018</span><br>
                    12:00 - 18:00
                </td>
                <td>
                    <div>
                        <img src="~/img/admin-panel/cap.png" class="cap-img float-start"
                             alt="cap image">
                        <div class="name-rating">
                            <label>Lyum Watson</label>
                            <div>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star2.png" alt=""></span>
                                <label class="rating-count">4</label>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="money">€63</span>
                </td>
                <td><span class="compeleted-btn">Completed</span></td>
                <td>
                    <button class="rate-btn">Rate SP</button>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="~/img/admin-panel/calendar.png" alt="">
                    <span>11/02/2018</span><br>
                    12:00 - 18:00
                </td>
                <td>
                    <div>
                        <img src="~/img/admin-panel/cap.png" class="cap-img float-start"
                             alt="cap image">
                        <div class="name-rating">
                            <label>Lyum Watson</label>
                            <div>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star2.png" alt=""></span>
                                <label class="rating-count">4</label>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="money">€63</span>
                </td>
                <td><span class="Cancelled-btn">Cancelled</span></td>
                <td>
                    <button class="rate-btn">Rate SP</button>
                </td>
            </tr>

            <tr>
                <td>
                    <img src="~/img/admin-panel/calendar.png" alt="">
                    <span>31/01/2018</span><br>
                    12:00 - 18:00
                </td>
                <td>
                    <div>
                        <img src="~/img/admin-panel/cap.png" class="cap-img float-start"
                             alt="cap image">
                        <div class="name-rating">
                            <label>Lyum Watson</label>
                            <div>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star2.png" alt=""></span>
                                <label class="rating-count">4</label>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="money">€63</span>
                </td>
                <td><span class="compeleted-btn">Completed</span></td>
                <td>
                    <button class="rate-btn">Rate SP</button>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="~/img/admin-panel/calendar.png" alt="">
                    <span>19/01/2018</span><br>
                    12:00 - 18:00
                </td>
                <td>
                    <div>
                        <img src="~/img/admin-panel/cap.png" class="cap-img float-start"
                             alt="cap image">
                        <div class="name-rating">
                            <label>Lyum Watson</label>
                            <div>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star2.png" alt=""></span>
                                <label class="rating-count">4</label>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="money">€63</span>
                </td>
                <td><span class="compeleted-btn">Completed</span></td>
                <td>
                    <button class="rate-btn">Rate SP</button>
                </td>
            </tr>

            <tr>
                <td>
                    <img src="~/img/admin-panel/calendar.png" alt="">
                    <span>05/01/2018</span><br>
                    12:00 - 18:00
                </td>
                <td>
                    <div>
                        <img src="~/img/admin-panel/cap.png" class="cap-img float-start"
                             alt="cap image">
                        <div class="name-rating">
                            <label>Lyum Watson</label>
                            <div>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star2.png" alt=""></span>
                                <label class="rating-count">4</label>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="money">€63</span>
                </td>
                <td><span class="Cancelled-btn">Cancelled</span></td>
                <td>
                    <button class="rate-btn">Rate SP</button>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="~/img/admin-panel/calendar.png" alt="">
                    <span>01/01/2018</span><br>
                    12:00 - 18:00
                </td>
                <td>
                    <div>
                        <img src="~/img/admin-panel/cap.png" class="cap-img float-start"
                             alt="cap image">
                        <div class="name-rating">
                            <label>Lyum Watson</label>
                            <div>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star2.png" alt=""></span>
                                <label class="rating-count">4</label>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="money">€63</span>
                </td>
                <td><span class="Cancelled-btn">Cancelled</span></td>
                <td>
                    <button class="rate-btn">Rate SP</button>
                </td>
            </tr>

            <tr>
                <td>
                    <img src="~/img/admin-panel/calendar.png" alt="">
                    <span>01/01/2018</span><br>
                    12:00 - 18:00
                </td>
                <td>
                    <div>
                        <img src="~/img/admin-panel/cap.png" class="cap-img float-start"
                             alt="cap image">
                        <div class="name-rating">
                            <label>Lyum Watson</label>
                            <div>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star1.png" alt=""></span>
                                <span><img src="~/img/admin-panel/star2.png" alt=""></span>
                                <label class="rating-count">4</label>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="money">€63</span>
                </td>
                <td><span class="Cancelled-btn">Cancelled</span></td>
                <td>
                    <button class="rate-btn">Rate SP</button>
                </td>
            </tr>

        </tbody>
    </table>
</div>


<!-- Service Provider Rating Modal -->
<div class="modal" id="ServiceProviderRatingModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="btn-close model-btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="clearfix mb-3 align-items-center d-flex">
                    <img src="~/img/admin-panel/cap.png" class="cap-img float-start"
                         alt="cap image">
                    <div class="name-rating">
                        <label>Lyum Watson</label>
                        <div class="d-flex">
                            <input id="DisplayRatingServiceProviderInModel" value="" type="text" title="" hidden>
                            <label class="rating-count ms-2">3.5</label>
                        </div>
                    </div>
                </div>
                <h3 class="mb-3">Rate your service provider</h3>
                <hr />

                <div class="row mb-3">
                    <div class="col-sm-12 col-md-4 mb-1 d-flex align-items-center">
                        On time arrival
                    </div>
                    <div class="col-sm-12 col-md-8 mb-1">
                        <input id="RatingOnTimeArrival" class="rating-serviceProvider" value="" type="text" title="" hidden>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-12 col-md-4 mb-1 d-flex align-items-center">
                        Friendly
                    </div>
                    <div class="col-sm-12 col-md-8 mb-1">
                        <input id="RatingFriendly" class="rating-serviceProvider" value="" type="text" title="" hidden>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-12 col-md-4 mb-1 d-flex align-items-center">
                        Quality of service
                    </div>
                    <div class="col-sm-12 col-md-8 mb-1">
                        <input id="RatingQualityOfService" class="rating-serviceProvider" value="" type="text" title="" hidden>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-12 col-md-12 mb-1">
                        Feedback on service provider
                    </div>
                    <div class="col-sm-12 col-md-12 mb-1">
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                </div>

                <button class="btn rounded-pill button-primary">Submit</button>
            </div>
        </div>
    </div>
</div>

@section UserLayoutScripts{
    <script type="text/javascript">
        $('#tbl-service-history').DataTable({
            paging: true,
            "pagingType": "full_numbers",
            // bFilter: false,
            ordering: true,
            searching: false,
            info: true,
            "columnDefs": [
                { "orderable": false, "targets": 4 }
            ],
            "oLanguage": {
                "sInfo": "Total Records: _TOTAL_"
            },
            "dom": '<"top">rt<"bottom"lip><"clear">',
            responsive: true,
            "order": []
        });
    </script>
}
