@media (max-width: 1200px) {
    .navbar-collapse .navbar-nav {
        align-items: center;
    }

    .navbar-collapse ul li {
        margin: 7px;
    }

        .navbar-collapse ul li a {
            display: inline-block;
        }

    .scroll-up-btn.top-arrow {
        left: 10px;
    }

    .scroll-up-btn.message-box {
        right: 10px !important;
    }

    .navbar .navbar-collapse {
        position: fixed;
        right: -250px;
        height: 100%;
        width: 250px;
        top: 0;
        background: #fff;
        box-shadow: none;
        z-index: 10;
        transition: all 0.3s ease;
        overflow: auto;
        padding-top: 10px;
    }

    .navbar .backblack.open {
        visibility: visible;
        opacity: 0.5;
        display: block;
    }

    .show {
        right: 0px !important;
    }

        .show .navbar-nav {
            align-items: flex-start !important;
            border-bottom: 1px solid #e1e1e1;
            transition: all 1s ease;
        }

        .show .nav-item .nav-link {
            font-size: 16px;
            line-height: 24px;
            border: none;
            background-color: white;
            padding: 0px;
            margin: 0px;
            color: #646464 !important;
            padding: 0px 20px !important;
        }

    .navbar .navbar-nav li a:hover {
        border: 0px;
    }

    .navbar .navbar-nav .user-name {
        padding: 10px 20px 5px;
        font-size: 18px;
        font-weight: 400;
        width: 100%;
        border-bottom: 1px solid #e1e1e1;
    }

        .navbar .navbar-nav .user-name span {
            font-weight: 500;
        }

    .navbar .navbar-toggler {
        margin-left: 15px;
    }

    /* become-a-pro page */
    .how-it-works .backgroung-img {
        display: none;
    }

    /* adminpanel - customer - service provider */

    .side-bar .side-bar-menu .side-menu-link {
        min-width: 230px;
    }

    .main-content {
        width: 100% !important;
    }

        .main-content table {
            width: 100% !important;
        }

            .main-content table thead tr td {
                padding: 10px 10px !important;
            }

    .div-table > div {
        overflow-x: auto !important;
    }

    .hr-navbar {
        color: #fff;
        width: 25%;
        margin: 5px;
    }

    /* sidebar + main content start */

    .main-body .side-bar {
        display: none;
    }

    .main-body .main-content {
        margin-left: 0px;
    }

    /* sidebar + main content end */

    /* book Service page start */

    .set-up-cleaning-services .nav .nav-link img {
        margin-right: 0px;
    }

    .set-up-cleaning-services .nav .nav-link span {
        display: block;
    }

    /* book Service page end */
}

@media (max-width: 1199px) {
    .navbar-collapse {
        background-color: #525252;
        height: 100vh;
    }
}

@media (max-width: 992px) {
    .home .home-content .button button {
        margin-bottom: 30px;
    }

    .home .home-content .payment-process .arrow img {
        width: 50px;
    }

    .home .home-content .payment-process .icon-box {
        margin-left: 10px;
        margin-right: 10px;
    }

    .text-blog .backgroung-img {
        display: none;
    }

    .text-blog .img-box {
        order: -1;
    }

    footer .footer-max-width .logo img {
        width: 90px;
        margin-bottom: 25px;
    }

    footer .footer-max-width {
        flex-direction: column;
        justify-content: center;
    }

        footer .footer-max-width .nav {
            margin-bottom: 25px;
        }

    /* Prices page Start */

    .prices-why-helperland .prices-why-helperland-content {
        flex-direction: column;
        align-items: center;
    }

    .prices-why-helperland .card {
        width: auto;
    }

        .prices-why-helperland .card .card-title {
            text-align: center;
        }

        .prices-why-helperland .card .card-text {
            text-align: center;
            margin: 0px auto 20px auto;
        }
    /* Prices page end */

    /* book Service page start */

    .set-up-cleaning-services .nav .nav-link span {
        display: none;
    }

    /* book Service page end */

    /*Block Customer - Service Provider Start*/

    .block-customer-table tbody tr{
        min-width: 40%
    }

    /*Block Customer - Service Provider End*/
}

@media (max-width: 768px) {
    /* common style */

    .max-width,
    .max-width-1104 {
        padding: 0px 30px;
    }

    section .title {
        font-size: 40px;
        line-height: 45px;
    }

    /* Home Page */

    .navbar-brand img {
        height: 90px;
        width: auto;
    }

    .home .home-content .home-text h2 {
        line-height: 50px;
        font-size: 45px;
    }

    .home .home-content {
        padding-top: 220px;
    }

        .home .home-content .payment-process {
            display: block;
        }

            .home .home-content .payment-process .arrow img {
                transform: rotate(90deg);
            }

            .home .home-content .payment-process .arrow .rotateImg {
                transform: rotate(265deg) scaleX(-1);
            }

    /* become-a-pro Page */

    .how-it-works .registration-process .registration-process-box {
        flex-direction: column;
        margin-bottom: 30px;
    }

    .how-it-works .registration-process :nth-child(1) img,
    .how-it-works .registration-process :nth-child(3) img {
        order: -1;
    }

    .how-it-works .registration-process .information {
        width: 80%;
    }

    .how-it-works .registration-process .registration-process-box .registration-process-img {
        margin-bottom: 15px;
    }

    .how-it-works .registration-process .information p {
        margin-bottom: 15px;
    }

    /* Convert Datatable into Card view start */

    .main-content table.card-view-small-screen {
        border: 0px !important;
    }

        .main-content table.card-view-small-screen thead {
            display: none;
        }

        .main-content table.card-view-small-screen tbody tr {
            display: flex;
            flex-direction: column;
            min-width: 270px;
            max-width: 460px;
            align-items: center;
            margin: 10px auto;
        }

            .main-content table.card-view-small-screen tbody tr td {
                border-bottom: 0px !important;
            }

    /* Convert Datatable into Card view end */

    /*Service Provider Rating Page Start*/

    .rating-table tbody tr .minWidth-25 {
        min-width: 50%;
    }

    .rating-table tbody tr .minWidth-50 {
        min-width: 100%;
    }

    /*Service Provider Rating Page end*/

    /*Block Customer - Service Provider Start*/

    .block-customer-table tbody tr {
        min-width: 43%
    }

    /*Block Customer - Service Provider End*/
}

@media (max-width: 576px) {
    .p-lr-40 {
        padding: 0 20px;
    }

    section .title {
        font-size: 35px;
        line-height: 40px;
    }

    section .star-title {
        font-size: 30px;
    }

        section .star-title::before {
            bottom: -18px;
        }

        section .star-title::after {
            bottom: -30px;
        }

    .max-width,
    .max-width-1104,
    .max-width-1400 {
        padding: 0px 15px;
    }

    .navbar-brand img {
        height: 60px;
        width: auto;
    }

    /* Home Page */

    .home .home-content {
        padding: 220px 5px 15px 5px;
    }

        .home .home-content .title {
            font-size: 25px;
        }

        .home .home-content .home-text h2 {
            font-size: 35px;
        }

        .home .home-content .home-text ul li {
            font-size: 14px;
        }

        .home .home-content .payment-process h6 {
            font-size: 15px;
            line-height: 20px;
        }

        .home .home-content .button button {
            padding: 8px 20px;
            font-size: 14px;
            margin-bottom: 15px;
        }

    .helperland .row h3 {
        font-size: 24px;
        height: 40px;
    }

    .helperland .row p {
        font-size: 15px;
    }

    .text-blog .row h3 {
        font-size: 25px;
        line-height: 30px;
    }

    .text-blog .row p {
        font-size: 16px;
        line-height: 21px;
        text-align: justify;
    }

    footer .footer-max-width .logo img {
        width: 70px;
    }

    /* Faq page */

    .faq .faq-questions .question-tab .nav-item {
        display: contents;
    }

    /* Book Service */

    .set-up-cleaning-services .card-number {
        padding-left: 10px;
        padding-right: 10px;
    }

    .set-up-cleaning-services .img-card-inputTag {
        display: none;
    }

    .set-up-cleaning-services .expiry-date {
        right: 50px;
        width: 80px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .set-up-cleaning-services .cvc {
        right: 13px;
        width: 50px;
        padding-left: 5px;
        padding-right: 5px;
    }

    /*Block Customer - Service Provider Start*/

    .block-customer-table tbody tr {
        min-width: 90%
    }

    /*Block Customer - Service Provider End*/
}

@media (max-width: 420px) {

    .home .home-content .payment-process .payment-process-box {
        margin: 0px 10px;
    }

    .home .home-content .home-text {
        padding-left: 10px;
    }

    .helperland .row img {
        height: auto;
    }

    /* Faq page */
    .faq .faq-questions p br {
        display: none;
    }

    /* become-a-pro */

    .how-it-works .registration-process .information {
        width: 100%;
    }

    /*Customer Dashboard*/
    #ServiceDetailModel .button-group .btn.rounded-pill > span {
        display: none;
    }

    #ServiceDetailModel .button-group {
        text-align: center;
    }

    /*Service Provider Rating Page Start*/

    .rating-table tbody tr .minWidth-25 {
        min-width: 100%;
    }

    /*Service Provider Rating Page end*/
}
