@media (max-width: 1400px){
    .main-content table .dropdown ul{
        right: 16px !important;
    }
}
@media (max-width: 1200px){
    /* .sidebar{
        display: none;
    } */

    .sidebar .navbar-nav{
        padding-left: 10px;
    }

    .main-content{
        margin-left: 0px;
    }

    .footer{
        margin-left: 0px;
    }

    .main-content table .dropdown ul{
        right: 12px !important;
    }
    .main-content .user-search-box .button-group{
        text-align: center;
    }
}
@media (max-width: 575px){

}
@media (max-width: 440px){
    .main-content{
        margin-top: 125px;
    }
    .sidebar{
        top: 125px;
    }
}