@media (max-width: 1200px) {
    .navbar .navbar-nav .rounded-link{
        margin-top: 7px;
        margin-bottom: 7px;
    }

    .navbar-collapse{
        background-color: #525252;
        height: 100vh;
    }

    .navbar-collapse .navbar-nav{
        align-items: center;
    }

    .navbar-collapse ul li{
        margin: 7px;
    }

    .navbar-collapse ul li a{
        display: inline-block;
    }

    .scroll-up-btn.top-arrow{
        left: 10px;
    }
    
    .scroll-up-btn.message-box{
        right: 10px;
    }
    
    .navbar .navbar-nav li {
        margin-left: 4px;
        margin-right: 4px;
    }

    .navbar .navbar-nav .rounded-link {
        padding: 6px 13px;
    }
}

@media (max-width: 991px) {

    .home .home-content .button button {
        margin-bottom: 30px;
    }

    .home .home-content .payment-process .arrow img {
        width: 50px;
    }

    .home .home-content .payment-process .icon-box {
        margin-left: 10px;
        margin-right: 10px;
    }

    .text-blog .backgroung-img{
        display: none;
    }

    footer .footer-max-width .logo img{
        width: 90px;
        margin-bottom: 25px;
    }

    footer .footer-max-width{
        flex-direction: column;
        justify-content: center;
    }

    footer .footer-max-width .nav{
        margin-bottom: 25px;
    }

    /* Prices page Start */

    .prices-why-helperland .prices-why-helperland-content{
        flex-direction: column;
        align-items: center;
    }

    .prices-why-helperland .card{
        width: auto;
    }

    .prices-why-helperland .card .card-title{
        text-align: center;
    }

    .prices-why-helperland .card .card-text{
        text-align: center;
        margin: 0px auto 20px auto;
    }
    /* Prices page end */

}

@media (max-width: 768px) {

    .home .home-content{
        padding-top: 220px;
    }

    .home .home-content .payment-process{
        display: block;
    }

    .home .home-content .payment-process .arrow img{
        transform: rotate(90deg);
    }

    .home .home-content .payment-process .arrow .rotateImg{
        transform: rotate(265deg) scaleX(-1);
    }
}

@media (max-width: 576px) {
    .p-lr-40{
        padding: 0 20px;
    }

    .navbar-brand img {
        height: 90px;
    }

    .home .home-content{
        padding: 220px 5px 15px 5px;
    }

    .home .home-content .title {
        font-size: 25px;
    }

    .home .home-content .home-text ul li {
        font-size: 14px;
    }

    .home .home-content .button button {
        padding: 8px 20px;
        font-size: 14px;
        margin-bottom: 15px;
    }

    footer .footer-max-width .logo img{
        width: 70px;
    }

    /* Faq page */

    .faq .faq-questions .question-tab .nav-item{
        display: contents;
    }
}

@media (max-width: 420px){
    .home .home-content .payment-process .payment-process-box {
        margin: 0px 10px;
    }

    /* Faq page */

    .faq .faq-questions p br{
        display: none;
    }
}
