@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

html{
    scroll-behavior: smooth;
}

/* Common Style Start */

.max-width-1104{
    max-width: 1104px;
    margin: auto;
    padding: 0px 46px;
}

.max-width{
    max-width: 1300px;
    margin: auto;
    padding: 0px 46px;
}

.max-width-654{
    max-width: 654px;
    margin: auto;
    padding: 0px 20px;
}

.max-width-946{
    max-width: 986px;
    margin: auto;
    padding: 0px 20px;
}

.max-width-1031{
    max-width: 1031px;
    margin: auto;
    padding: 0px 20px;
}

.max-width-1180{
    max-width: 1180px;
    margin: auto;
    padding: 0px 20px;
}

section{
    padding: 40px 0px;
}

section .title{
    height: 40px;
    color: #4f4f4f;
    font-weight: bold;
}

section .star-title{
    color: #4F4F4F;
}

section .star-title::before{
    content: "";
    position: absolute;
    height: 1px;
    width: 166px;
    bottom: -26px;
    left: 50%;
    background-color: #cccccc;
    transform: translateX(-50%);
}

section .star-title::after{
    content: "";
    display: block;
    position: absolute;
    height: 25px;
    width: 43px;
    bottom: -37px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    background: #fff url(../img/faq/forma-1-copy-5.png) center no-repeat;
    padding: 0px 5px;
}

.bg-color-pal-grey{
    background-color: #f4f5f8;
}

.bg-color-section{
    background-color: #F6F6F6;
}

.mb-40{
    margin-bottom: 40px;;
}

.mt-17{
    margin-top: 17px;
}

.mt-30{
    margin-top: 30px !important;
}

.mt-37{
    margin-top: 37px !important;
}

.mt-40{
    margin-top: 40px;
}

.mb-36{
    margin-bottom: 36px;
}

.mb-60{
    margin-bottom: 60px;
}

.mb-75{
    margin-bottom: 75px !important;
}

.border-bottom{
    border-bottom: 1px solid #dcdcdc;
}

.pb-60{
    padding-bottom: 60px;
}

.p-lr-22{
    padding: 0px 22px;
}

.p-lr-40{
    padding: 0px 40px;
}

.card .card-body a{
    font-size: 18px;
    color: #4f4f4f !important;
}

.right-0{
    right: 0;
}

.z-index-minus{
    z-index: -1;
}

.btn-dark-slate-blue{
    background-color: #29626d;
}

/* Navbar start*/

.navbar {
    transition: all 0.3s ease;
}

.navbar.navbar-bg-color{
    background-color: #525252;
}

.navbar-brand img {
    height: 130px;
    width: 175px;
}

.navbar.navbar-bg-color .navbar-brand img{
    height: 54px;
    width: 74.69px;
}

.navbar .navbar-nav li{
    margin-left: 5px;
    margin-right: 5px;
}

.navbar .navbar-nav .rounded-link{
    border: 1px solid white;
    border-radius: 30px;
    padding: 0px  25px;
    margin: 0px 5px;
    transition: all 0.3s ease;
}

.navbar .navbar-nav .rounded-link:hover{
    color: #006072 !important;
    background-color: #fff;
}

.navbar .navbar-nav li a{
    padding: 0px 15px !important;
    line-height: 40px;
    font-size: 17px;
    color: #ffffff !important;
    border: 1px solid transparent;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.navbar .navbar-nav li.dropdown a:hover{
    border: 1px solid transparent;
}

.navbar .navbar-nav li a:hover{
    border: 1px solid white;
    border-radius: 30px;
}

.navbar .navbar-nav .county-flag{
    width: 25px;
    height: 16px;
}

.navbar .navbar-nav .dropdown-menu{
    background-color: transparent;
    border: none;
    min-width: 0px;
    left: 2px;
    padding: 0px;
}

/* -- Navbar end*/

/* Scroll btn start */

.scroll-up-btn{
    position: fixed;
    text-align: center;
    line-height: 45px;
    z-index: 9999;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.top-arrow{
    height: 45px;
    width: 45px;
    background: #525252;
    font-size: 20px;
    color: #fff;
    left: 60px;
    bottom: 10px;
    border-radius: 50%;
}

.scroll-up-btn.message-box{
    height: 45px;
    width: 45px;
    right: 60px;
    bottom: 10px;
}

.scroll-up-btn.show{
    bottom: 100px;
    opacity: 1;
    pointer-events: auto;
}

/* -- Scroll btn end */

/* Common header Image start */

section.header-img{
    width: 100%;
    margin-top: 40px;
}

section.header-img img{
    width: 100%;
}

/* -- Common header Image start */

/* newsLetter Start start */

.newsletter h4{
    color: #353548;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
}

.newsletter input{
    width: 233px;
    height: 40px;
    background: #F4F5F8 0% 0% no-repeat padding-box;
    border: 1px solid #565656;
    border-radius: 20px;
    padding: 0px 15px;
}

.newsletter button{
    width: 88px;
    height: 40px;
    background-color: #FF7B6D;
    border-radius: 20px;
    border: 0px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    transition: all 0.3s ease;
}

.newsletter button:hover{
    background-color: #29626d;
}

/* -- newsLetter Start end */

/* footer Start */

footer{
    background-color: #111111;
}

footer .footer-max-width{
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 26px;
    flex-wrap: wrap;
    color: #F1F1F1;
}

footer .footer-max-width .nav li a{
    color: #F1F1F1;
    font-size: 14px;
    transition: all 0.3s ease;
}

footer .footer-max-width .nav li a:hover{
    color: #006072;
}

footer .footer-max-width .logo img{
    width: 120px;
}

footer .footer-max-width .socil-icon a{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3px;
}
footer .footer-max-width .socil-icon a:hover{
    background-color: #006072;
    
}

footer .privacy-policy{
    text-align: center;
    background-color: #292929;
    color: #F1F1F1;
    padding: 10px;
}

footer .privacy-policy span{
    color: #6EABEF;
}

footer .privacy-policy button{
    background: #EED507;
    border-radius: 20px;
    padding: 5px 30px;
}

footer .terms-condition{
    max-width: 1348px;
    padding: 27px 0 22px 0;
    border-top: 1px solid #424242;
}

footer .terms-condition p{
    font-family: 'Roboto', sans-serif;
    color: #9BA0A3;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    padding: 0px 20px;
}

/* -- footer end */

/* -- Common Style end */

/* Home Page Start */

/* home Section Start */

.home{
    min-height: 100vh;
    /* height: 100vh; */
}

.home .home-content{
    background: url("../img/home/group-35.png") no-repeat center;
    background-size: cover;
    height: 100%;
    display: flex;
    padding: 0px 30px;
    flex-direction: column;
    justify-content: end;
    color: white;
    padding-bottom: 25px;
    padding-top: 330px;
}

.home .home-content .home-text h1{
    line-height: 54px;
    font-size: 50px;
}

.home .home-content .home-text{
    padding-left: 38px;
}

.home .home-content .home-text ul{
    padding-left: 0px;
}

.home .home-content .home-text ul li{
    list-style: none;
    line-height: 22px;
    font-size: 16px;
}

.home .home-content .home-text ul li::before{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f00c";
    padding-right: 12px;
}

.home .home-content .button button{
    border: 1px solid white;
    background-color: #00607287;
    color: white;
    border-radius: 54px;
    font-size: 18px;
    line-height: 24px;
    padding: 18px 32px;
    margin-bottom: 60px;
}

.home .home-content .button button:hover{
    background-color: white;
    color: #006072;
}

.home .home-content .payment-process{
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}

.home .home-content .payment-process .payment-process-box{
    margin-bottom: 7px;
}

.home .home-content .payment-process .img-size{
    width: 50px;
}

.home .home-content .payment-process .arrow img{
    width: 70px;
}

.home .home-content .payment-process .icon-box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.home .home-content .payment-process h6{
    font-size: 20px;
    line-height: 24px;
}

.home .home-content .payment-process .rotateImg{
    transform: rotateX(180deg);
}

.home .home-content .payment-process .payment-process-box h6 span{
    display: none;
}

.home .home-content .down-arrow{
    border: 1px solid white;
    padding: 9px 11px;
    border-radius: 50%;
    color: #FFFFFF00;
}
/* -- home Section end */

/* Why helperland */

.helperland .row .padding-lr-10{
    padding: 0px 10px;
}

.helperland .row img{
    height: 320px;
    width: 320px;
}

.helperland .row h3{
    color: #565656;
    font-size: 30px;
    font-weight: bold;
    height: 60px;
}

.helperland .row p{
    color: #565656;
    font-size: 17px;
    line-height: 24px;
}

/* text-blog */

.text-blog .row h2{
    font-size: 30px;
    line-height: 36px;
    color: #4f4f4f;
}

.text-blog .row p{
    font-size: 18px;
    line-height: 24px;
    color: #4f4f4f;
}

/* our-blog */

.our-blog .card a{
    text-decoration: none;
    color: black;
}

.our-blog .card a img{
    margin-left: 4px;
}

.our-blog .card .card-body h5{
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    color: #3d4046;
}

.our-blog .card .card-body small{
    font-size: 13px;
    color: #a3a3a3;
}

.our-blog .card .card-body .card-text{
    font-size: 16px;
    line-height: 22px;
    color: #565656;
}

/* customer-review */

.customer-review .card{
    border-left: 3px solid #1d7a8c;
}

.customer-review .card .card-body h5{
    font-size: 20px;
    line-height: 24px;
    color: #4f4f4f;
}

.customer-review .card .card-body small{
    color: #8e8e8e;
    font-size: 14px;
    line-height: 24px;
}

.customer-review .card .card-body p{
    color: #565656;
    font-size: 16px;
    line-height: 22px;
}

.customer-review .card a{
    text-decoration: none;
    color: black;
}

/* -- Home Page end */

/* FAQ Page Start */

.faq .faq-questions p{
    color: #646464;
    font-size: 18px;
    line-height: 26px;
}

.faq .faq-questions .nav .nav-link{
    border-radius: 0px;
    background-color: #f6f6f6;
    font-size: 24px;
    line-height: 52px;
    color: #646464;
    border-bottom: 4px solid #1d7a8c;
}

.faq .faq-questions .nav .nav-link.active{
    color: #ffffff;
    background-color: #1d7a8c;
}

.faq .faq-questions .accordion .accordion-item{
    border: none;
}

.faq .faq-questions .accordion .accordion-button{
    color: #646464;
    font-size: 16px;
    padding-left: 0px;
    font-weight: bold;
}

.faq .faq-questions .accordion .accordion-button::before{
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    content: "";
    background-image: url("../img/faq/right-arrow.png");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
    margin-right: 15px;
}

.faq .faq-questions .accordion .accordion-button:not(.collapsed){
    background-color: white;
    box-shadow: none;
    color: #646464;
}

.faq .faq-questions .accordion .accordion-button:focus{
    border: none;
    box-shadow: none;
}

.faq .faq-questions .accordion .accordion-button:not(.collapsed)::before {
    transform: rotate(90deg);
}

.faq .faq-questions .accordion .accordion-button::after{
    content: none;
}

.faq .faq-questions .accordion .accordion-body{
    font-size: 16px;
    line-height: 24px;
    color: #646464;
    text-align: justify;
    padding-top: 5px;
    padding-left: 35px;
}

/* FAQ Page End */

/* Prices page Start */

.prices .prices-content .card{
    max-width: 553px;
    min-height: 304px;
    border-radius: 0px;
    border: 1px solid #B0C9CE;
    margin: 0 auto 50px auto;
}

.prices .prices-content .card .card-header{
    background-color: #1D7A8C;
    font-size: 28px;
    color: white;
    border-radius: 0px;
}

.prices .prices-content .card .card-title{
    font-size: 48px;
    font-weight: bold;
    color: #646464;
    margin-bottom: 30px;
}

.prices .prices-content .card .card-title span{
    font-size: 30px;
    font-weight: 400;
}

.prices .prices-content .card ul{
    position: relative;
    text-align: left;
    max-width: 300px;
    margin: 0 auto;
}

.prices .prices-content .card ul li{
    list-style: none;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 15px;
}

.prices .prices-content .card ul li::before{
    position: absolute;
    content: "";
    display: inline-block;
    background: url('../img/prices/forma-1_5.png');
    height: 24px;
    width: 24px;
    left: 0;
}

.prices .extra-services .service-box{
    text-align: center;
    width: 140px;
    margin: 0px 5px 10px 5px;
}

.prices .extra-services .service-box .img-box{
    width: 109px;
    height: 109px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #B0C9CE;
    border-radius: 50%;
    margin: 0 auto 17px auto;
}

.prices .extra-services .service-box .heading{
    font-size: 16px;
    color: #646464;
    line-height: 22px;
    font-weight: 400;
}

.prices .extra-services .service-box .time-text{
    font-size: 18px;
    line-height: 26px;
    color: #1d7a8c;
}

.cleaning-service .star-title::after{
    background-color: #F6F6F6;
}

.cleaning-service .cleaning-service-box{
    max-width: 360px;
    margin: 0px 15px 10px 15px;
}

.cleaning-service .cleaning-service-box img{
    width: 100%;
}

.cleaning-service .cleaning-service-box h5{
    color: #4F4F4F;
    font-size: 20px;
    line-height: 24px;
    margin: 18px 0;
}

.cleaning-service .cleaning-service-box ul{
    position: relative;
}

.cleaning-service .cleaning-service-box ul li{
    list-style: none;
    font-size: 16px;
    line-height: 24px;
    color: #4f4f4f;
    margin-bottom: 9px;
}

.cleaning-service .cleaning-service-box ul li::before{
    content: "";
    position: absolute;
    display: inline-block;
    background: url('../img/prices/right-arrow-grey.png') no-repeat center;
    height: 24px;
    width: 24px;
    left: 0;
}

.prices-why-helperland .prices-why-helperland-content{
    display: flex;
    justify-content: center;
}

.prices-why-helperland .card{
    border: 0px;
    width: 377px;
    margin-bottom: 20px;
}

.prices-why-helperland .img-box{
    max-width: 375px;
    margin-bottom: 20px;
}

.prices-why-helperland .img-box img{
    width: 100%;
}

.prices-why-helperland .card .card-title{
    font-size: 20px;
    line-height: 24px;
    color: #646464;
}

.prices-why-helperland .card .card-text{
    font-size: 14px;
    line-height: 20px;
    color: #646464;
    max-width: 290px;
}

/* Prices page end */

/* Contact Page start */

.contact-us .contact-detail{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-bottom: 1px solid #e1e1e1;
}

.contact-us .contact-detail .contact-detail-box{
    margin: 0px 10px;
}

.contact-us .contact-detail .contact-detail-box .img-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.contact-us .contact-detail .contact-detail-box p{
    font-size: 16px;
    line-height: 24px;
    color: #4f4f4f;
}

.contact-us-map{
    background: url('../img/contact/group-16.png') no-repeat center;
    height: 400px;
}

.contact-us-form form .contact-title{
    color: #4F4F4F;
    font-size: 28px;
    font-weight: bold;
}

.contact-us-form form input{
    height: 46px;
    font-size: 16px;
    color: #a0a0a0;
}

.contact-us-form form select{
    height: 46px;
    font-size: 16px;
    color: #798289;
}

.contact-us-form form .btn-submit{
    background-color: #1D7A8C;
    color: #fff;
    font-size: 20px;
    padding: 10px 50px;
}

/* Contact Page end */

/* About Page Start */

.about-page .about-page-content p{
    font-size: 16px;
    line-height: 24px;
    color: #646464;
    text-align: center;
    margin-top: 25px;
}

/* About Page end */