@media (max-width: 1200px){

    .side-bar .side-bar-menu .side-menu-link{
        min-width: 230px;
    }

    .main-content{
        width: 100% !important;
    }

    .main-content table{
        width: 100% !important;
    }
    
    .main-content table thead tr td{
        padding: 10px 10px !important;
    }

    .div-table>div{
        overflow-x: auto !important;
    }

    .hr-navbar{
        color: #fff;
        width: 25%;
        margin: 5px;
    }

    /* Service Provider - Upcoming Service Page Start */

    #tbl-upcoming-service thead tr td:nth-child(1){
        min-width: 80px !important;
    }

    /* Service Provider - Upcoming Service Page End */

    /* Customer - Service-history Page Start */

    #tbl-service-history thead tr td:nth-child(1){
        min-width: 130px !important;
    }

    #tbl-service-history thead tr td:nth-child(2){
        min-width: 190px !important;
    }

    #tbl-service-history thead tr td:nth-child(3){
        min-width: 95px !important;
    }

    #tbl-service-history thead tr td:nth-child(4){
        min-width: 80px !important;
    }

    #tbl-service-history thead tr td:nth-child(5){
        min-width: 85px !important;
    }

   /* Customer - Service-history Page end */
}

@media (max-width: 991px){

    /* Navbar */
    .navbar .container-fluid .navbar-toggler{
        order: 3;
    }

    .navbar .container-fluid .navbar-collapse{
        min-height: 93vh;
        order: 4;
    }

    .navbar .container-fluid .notification-profile-menu{
        order: 2;
        margin-left: auto;
    }
    
    .navbar .navbar-collapse .navbar-nav{
        justify-content: center;
        align-items: center;
        /* min-height: 90vh; */
    }

    .navbar .navbar-collapse .navbar-nav .mt-rounded-btn{
        margin-top: 5px;
    }

    .navbar .navbar-collapse .navbar-nav .nav-item{
        margin-bottom: 2px;
    }

    .navbar .navbar-collapse .navbar-nav .nav-item .nav-link{
        padding: 5px 20px;
    }

    .navbar .notification-profile-menu .dropdown .dropdown-menu{
        top: 65px;
        left: -50px;
    }

    .navbar .notification-profile-menu .dropdown ul::before{
        right: 45%;
    }

    .navbar .notification-profile-menu>ul>li{
        margin-left: 5px;
    }

    .navbar .notification-profile-menu .user-detail-dropdown{
        display: none;
    }

    .navbar .notification-profile-menu .notification-dropdown>a{
        margin-right: 15px;
    }

    .navbar .navbar-nav .user-name{
        font-size: 17px;
        color: #fff;
        padding: 8px;
    }

    /* Footer */
    footer .footer-max-width .logo img{
        width: 90px;
        margin-bottom: 25px;
    }

    footer .footer-max-width{
        flex-direction: column;
        justify-content: center;
    }

    footer .footer-max-width .nav{
        margin-bottom: 25px;
    }

    /* sidebar + main content start */

    .main-body .side-bar{
        display: none;
    }

    .main-body .main-content{
        margin-left: 0px;
    }



    /* sidebar + main content end */

    

}

@media (max-width: 576px){

    .navbar .notification-profile-menu>ul>li{
        margin-left: 4px;
    }

    .navbar .notification-profile-menu>ul>li>a{
        padding-left: 10px;
        padding-right: 10px;
    }

    .navbar .notification-profile-menu .notification-dropdown>a span{
        left: 30px;
    }

    .navbar .notification-profile-menu .notification-dropdown>a{
        padding-right: 15px;
    }

    /* Footer */
    footer .footer-max-width .logo img{
        width: 70px;
    }

    footer .footer-max-width .nav{
        align-items: center;
        flex-direction: column;
    }
}

