@model LoginAndForgotPasswordViewModel

<!-- Login Modal -->
<div class="modal" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="btn-close model-btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <h3>Login to your account</h3>
                <form asp-controller="Account" asp-action="LoginModal" method="post">
                    <div class="col-md-12 m-0 @( TempData["ErrorMessage"] == null ? "d-none" : "")">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            @TempData["ErrorMessage"]
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>
                    <div class="mb-3 position-relative">
                        <input type="text" asp-for="Login.Email" class="form-control" placeholder="Email" />
                        <img src="~/img/user.png" class="model-icon" />
                        <span asp-validation-for="Login.Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3 position-relative">
                        <input type="password" asp-for="Login.Password" class="form-control" placeholder="Password" />
                        <img src="~/img/lock.png" class="model-icon" />
                        <span asp-validation-for="Login.Password" class="text-danger"></span>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" asp-for="Login.RememberMe" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Remember me</label>
                    </div>
                    <button type="submit" class="model-button mb-25">Login</button>
                    <div class="text-center"><a class="model-link mb-2" data-bs-toggle="modal" data-bs-target="#forgotPasswordModal">Forgot password?</a></div>
                    <div class="text-center">
                        Don't have an account? <a class="model-link" asp-controller="Account" asp-action="UserRegistration">Create an account</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Forgot Password Modal -->
<div class="modal fade" id="forgotPasswordModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="btn-close model-btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <h3>Forgot password</h3>
                <form asp-action="ForgotPassword" asp-controller="Account">
                    <div class="mb-3 position-relative">
                        <input type="text" asp-for="ForgotPassword.Email" class="form-control" placeholder="Email Address" />
                        <span asp-validation-for="ForgotPassword.Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="model-button mb-25">Send</button>
                    <div class="text-center"><a class="model-link mb-2" data-bs-toggle="modal" data-bs-target="#loginModal">Login now</a></div>
                </form>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
        $(window).on('load', function () {
            var openModel = '@ViewBag.OpenModel';
            if (openModel == "Login") {
                $('#loginModal').modal({
                    backdrop: 'static',
                    keyboard: false
                });
                $('#loginModal').modal('show');
            }
            else if (openModel == "ForgotPassword") {
                $('#forgotPasswordModal').modal({
                    backdrop: 'static',
                    keyboard: false
                });
                $('#forgotPasswordModal').modal('show');
            }
            else if (openModel == "ForgotPasswordLinkSend") {
                Swal.fire({
                    icon: 'success',
                    title: 'Forgot Password',
                    text: 'If provided email is a registered email ID on Helperland, you will receive an email with further instructions on how to reset your password.',
                })
            }
        });
</script>